**Initial Data Cleaning**

In [8]:
import pandas as pd

In [9]:
nys_data_raw = pd.read_csv("/Users/elliekogan/Documents/GitHub/cmpu250-final-project/data/raw-data/ny_home_purchase.csv")

/var/folders/qz/pmy_02y95f9bnkfj0nt_jdx40000gn/T/ipykernel_13926/3028005800.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  nys_data_raw = pd.read_csv("/Users/elliekogan/Documents/GitHub/cmpu250-final-project/data/raw-data/ny_home_purchase.csv")

In [17]:
nys_data_raw.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2023,549300JOT0D4J0SZIK67,10580,NY,36001.0,3.600101e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5959,15.66,113300,143.60,1516,2219,51
1,2023,549300JOT0D4J0SZIK67,15380,NY,36063.0,3.606302e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5709,17.46,93900,68.53,1871,2154,47
2,2023,549300JOT0D4J0SZIK67,35614,NY,36081.0,3.608103e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,7365,98.52,99300,102.77,1466,2172,67
3,2023,549300JOT0D4J0SZIK67,40380,NY,36055.0,3.605501e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5281,8.45,97300,121.93,1890,2336,52
4,2023,549300JOT0D4J0SZIK67,99999,NY,36039.0,3.603908e+10,C,FHA:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,...,NaN,NaN,NaN,4049,15.73,83700,125.59,1426,2286,53

**Variables to keep and clean:**
- action_taken
- derived_race
- derived_ethnicity
- applicant_sex
- applicant_age
- income
- debt_to_income_ratio
- applicant_credit_score_type
- loan_amount
- loan_to_value_ratio
- interest_rate
- rate_spread
- loan_type
- loan_purpose
- lien_status
- property_value
- occupancy_type
- tract_minority_population_percent
- aus-1
- denial_reason-1

In [12]:
nys_data = nys_data_raw[['action_taken', 'derived_race', 'derived_ethnicity', 'applicant_sex', 'applicant_age', 'income', 'debt_to_income_ratio', 'applicant_credit_score_type', 'loan_amount', 'loan_to_value_ratio', 'interest_rate', 'rate_spread', 'loan_type', 'loan_purpose', 'lien_status', 'property_value', 'occupancy_type', 'tract_minority_population_percent', 'aus-1', 'denial_reason-1']]

In [16]:
nys_data.head()

,action_taken,derived_race,derived_ethnicity,applicant_sex,applicant_age,income,debt_to_income_ratio,applicant_credit_score_type,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,loan_type,loan_purpose,lien_status,property_value,occupancy_type,tract_minority_population_percent,aus-1,denial_reason-1
0,6,Race Not Available,Ethnicity Not Available,4,8888,NaN,NaN,9,305000.0,NaN,5.5,NaN,3,1,1,305000,1,15.66,6,10
1,6,Race Not Available,Ethnicity Not Available,4,8888,NaN,NaN,9,215000.0,NaN,5.625,NaN,3,1,1,215000,1,17.46,6,10
2,6,Race Not Available,Ethnicity Not Available,4,8888,NaN,NaN,9,735000.0,NaN,5.25,NaN,2,1,1,745000,1,98.52,6,10
3,6,Race Not Available,Ethnicity Not Available,4,8888,NaN,NaN,9,195000.0,NaN,6.125,NaN,1,1,1,215000,1,8.45,6,10
4,6,Race Not Available,Ethnicity Not Available,4,8888,NaN,NaN,9,215000.0,NaN,6.25,NaN,2,1,1,215000,1,15.73,6,10