**Initial Data Cleaning**

We filtered the data to include only the columns we specified. We also removed all rows that did not have a value for derived_race.

In [52]:
import pandas as pd

In [53]:
dutchess_data_raw = pd.read_csv("/Users/elliekogan/Documents/GitHub/cmpu250-final-project/data/raw-data/dutchess_home_purchase.csv")

In [54]:
dutchess_data_raw.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2023,254900FBWEZ3YUPOBN33,39100,NY,36027,3.602701e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3769,21.09,119600,71.83,951,1725,68
1,2023,254900FBWEZ3YUPOBN33,39100,NY,36027,3.602704e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4595,29.58,119600,87.43,1402,2048,49
2,2023,549300NZ2IPWRMLAYZ30,39100,NY,36027,3.602701e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3769,21.09,119600,71.83,951,1725,68
3,2023,549300NZ2IPWRMLAYZ30,39100,NY,36027,3.602722e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4272,63.55,119600,76.57,843,1490,0
4,2023,549300NZ2IPWRMLAYZ30,39100,NY,36027,3.602705e+10,C,VA:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,...,NaN,NaN,NaN,5184,21.82,119600,120.20,1655,1933,39

**Variables to keep and clean:**
- action_taken
- derived_race
- derived_ethnicity
- applicant_sex
- applicant_age
- income
- debt_to_income_ratio
- applicant_credit_score_type
- loan_amount
- loan_to_value_ratio
- interest_rate
- rate_spread
- loan_type
- loan_purpose
- lien_status
- property_value
- occupancy_type
- tract_minority_population_percent
- aus-1
- denial_reason-1

In [55]:
dutchess_data = dutchess_data_raw[['action_taken', 'derived_race', 'derived_ethnicity', 'applicant_sex', 'applicant_age', 'income', 'debt_to_income_ratio', 'applicant_credit_score_type', 'loan_amount', 'loan_to_value_ratio', 'interest_rate', 'rate_spread', 'loan_type', 'loan_purpose', 'lien_status', 'property_value', 'occupancy_type', 'tract_minority_population_percent', 'aus-1', 'denial_reason-1']]

In [56]:
dutchess_data

,action_taken,derived_race,derived_ethnicity,applicant_sex,applicant_age,income,debt_to_income_ratio,applicant_credit_score_type,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,loan_type,loan_purpose,lien_status,property_value,occupancy_type,tract_minority_population_percent,aus-1,denial_reason-1
0,1,Race Not Available,Ethnicity Not Available,4,8888,NaN,NaN,9,295000.0,63.183,11.55,NaN,1,1,1,465000,3,21.09,6,10
1,1,Race Not Available,Ethnicity Not Available,4,8888,NaN,NaN,9,455000.0,65.0,11.75,NaN,1,1,1,705000,3,29.58,6,10
2,1,Black or African American,Not Hispanic or Latino,2,45-54,104.0,37,1,395000.0,96.5,7.125,1.054,2,1,1,405000,1,21.09,3,10
3,1,White,Not Hispanic or Latino,1,45-54,79.0,50%-60%,2,255000.0,96.5,6.25,0.458,2,1,1,265000,1,63.55,3,10
4,1,Race Not Available,Ethnicity Not Available,2,45-54,118.0,50%-60%,2,275000.0,100.0,6.25,-0.653,3,1,1,275000,1,21.82,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,3,Race Not Available,Hispanic or Latino,2,45-54,NaN,NaN,7,225000.0,NaN,NaN,NaN,1,1,1,305000,3,42.03,6,6
3819,1,White,Not Hispanic or Latino,2,<25,NaN,NaN,2,425000.0,75.0,8.124,NaN,1,1,1,565000,3,50.53,6,10
3820,4,Race Not Available,Ethnicity Not Available,3,35-44,390.0,NaN,9,775000.0,NaN,NaN,NaN,1,1,1,NaN,1,26.05,1,10
3821,1,Race Not Available,Ethnicity Not Available,3,35-44,467.0,20%-<30%,1,1085000.0,90.0,4.875,-0.411,1,1,1,1215000,1,15.57,1,10
3822,1,White,Not Hispanic or Latino,2,55-64,86.0,41,3,205000.0,42.11,6.5,-0.159,1,1,1,475000,1,29.37,2,10

In [57]:
dutchess_data = dutchess_data[dutchess_data['derived_race'] != 'Race Not Available']

In [58]:
dutchess_data

,action_taken,derived_race,derived_ethnicity,applicant_sex,applicant_age,income,debt_to_income_ratio,applicant_credit_score_type,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,loan_type,loan_purpose,lien_status,property_value,occupancy_type,tract_minority_population_percent,aus-1,denial_reason-1
2,1,Black or African American,Not Hispanic or Latino,2,45-54,104.0,37,1,395000.0,96.5,7.125,1.054,2,1,1,405000,1,21.09,3,10
3,1,White,Not Hispanic or Latino,1,45-54,79.0,50%-60%,2,255000.0,96.5,6.25,0.458,2,1,1,265000,1,63.55,3,10
5,1,White,Hispanic or Latino,1,35-44,133.0,42,3,455000.0,96.999,6.25,0.007,1,1,1,465000,1,26.05,1,10
6,1,White,Joint,1,35-44,101.0,47,3,405000.0,82.425,6.375,-0.132,1,1,1,495000,1,20.03,2,10
8,5,White,Not Hispanic or Latino,2,<25,101.0,NaN,9,275000.0,NaN,NaN,NaN,1,1,1,NaN,1,25.14,6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,1,White,Not Hispanic or Latino,2,35-44,216.0,38,9,345000.0,80.0,5.625,-0.043,1,1,1,435000,1,38.24,6,10
3815,1,White,Not Hispanic or Latino,1,55-64,NaN,NaN,1,395000.0,70.0,8.625,NaN,1,1,1,565000,3,80.40,6,10
3817,1,White,Hispanic or Latino,2,35-44,NaN,NaN,1,245000.0,75.0,7.875,NaN,1,1,1,325000,3,86.57,6,10
3819,1,White,Not Hispanic or Latino,2,<25,NaN,NaN,2,425000.0,75.0,8.124,NaN,1,1,1,565000,3,50.53,6,10
3822,1,White,Not Hispanic or Latino,2,55-64,86.0,41,3,205000.0,42.11,6.5,-0.159,1,1,1,475000,1,29.37,2,10

## Cleaning columns

In [ ]:
# Need to be renamed 
cleaned_data['property_value'] = pd.to_numeric(cleaned_data['property_value'], errors='coerce')
cleaned_data['debt_to_income_ratio'] = pd.to_numeric(cleaned_data['debt_to_income_ratio'], errors='coerce')
cleaned_data['interest_rate'] = pd.to_numeric(cleaned_data['interest_rate'], errors='coerce')

cleaned_data = cleaned_data.dropna(subset=['property_value'])

In [59]:
dutchess_data.to_csv("cleaned_dutchess_data.csv", index=False)